<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <!-- left part -->
    <div class="left">
      <!-- left top part -->
      <div class="left-top">
        <!-- vs code heading -->
        <h3>vs code clone</h3>
        <!-- icons div -->
        <div class="icons">
          <i class="ri-file-add-line"></i>
          <i class="ri-folder-add-line"></i>
          <i class="ri-refresh-line"></i>
        </div>
      </div>

      


    </div>
    <div class="right"></div>
  </div>

</body>

</html>